body{
	background-image: url(../img/robotic.png);
	background-repeat: no-repeat 50% 50%;
	background-size:cover;
/* add a picture, maybe something that deals with robotics or space*/
}

h1{
	border: 1px solid black;
	background-color: white;
	color:#A0522D;
	text-align: center;
	font-family:"Roboto", sans-serif;
	font-size:8vw ;
	margin-right: 4vw; /*part 2*/
	margin-top:3vw;
	
	

}

h2{
	border-bottom: 2px solid black;
	border-color:#008080;
	color:#008080;
	text-align: bottom;
	font-family:"Lato", sans-serif;
	text-transform: uppercase;
	float: right; /*part 1*/
	margin-right: 4vw; /*part 2*/
	margin-top:-3vw;
	font-size:1.2vw;



}



/*font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
 */
p {
	font-family:"Lato", sans-serif;
	text-transform: uppercase;
	font-size: 1.2vw;
	text-align: right;
	width: 37vw;
	height:2vw;
	float: right;
	margin-right: 5vw:;
	margin-top:22vw;
	color: #ffffff;

}
a{
	border: 2px solid black;
	background-color:#008080 ;
	border-color:#008080;


}

main{
	p.dotted{border-style: soild;}
	padding: 2vw;
	position: center;
	width: 35vw;
	height: 25vw; 
	float: right; /*part 1*/
	margin-right: 30vw; /*part 2*/
	margin-top:8vw;


}
